@charset "UTF-8";
/* CSS Document */

body{
	background-color: black;
	color: white;
}

#back-arrow {
	position: fixed;
	text-decoration: none;
	color: white;
	font-family: Helvetica;
	font-size: 5vh;
	margin-left: 2.5%;
	z-index: 1000;
}

.folders {
	position: absolute;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	padding-top: 10vh;
}

.folders .child{
	padding: 5vw;
	padding-bottom: 2.5vh;
	padding-top: 0;
}

.folders .child img{
	width: 5vw;
	height: 5vw;
	cursor: pointer;
}

.folders h1{
	font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
/*	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";*/
	font-size: .75em;
	width: 5vw;
	text-align: center;
}

.movie-im {
	width: 60vw;
/*	height: 100vh;*/
	position: absolute;
	margin-left: 30vw;
}


input[type=radio],
input[type=radio] + img {
    display: none;
}

input:checked + img {
    display: block;
}
iframe {
	margin-left: 5%;
	margin-top: 60%;
	height: 80vh;
	width: 40vw;
}
